<div class="Whole">

  <div class="d-flex">
    <button style="position: relative; margin-left: 90%;margin-top: 1%;" (click)="addBtn()" type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-success">Add Patient</button>
  </div>



<table class="table ">
<thead>
  <tr>
  
    <th scope="col">First Name</th>
    <th scope="col">Last Name</th>
    <th scope="col">Age</th>
    <th scope="col">Gender</th>
    <th scope="col">Date Of Birth</th>
    <th scope="col">Phone</th>
    <th scope="col">Action</th>
  </tr>
</thead>
<tbody *ngFor="let n of patientData">
  <tr>
    <td appApphighlet [age] = [n.age]>{{n.firstName}}</td>
    <td appApphighlet [age] = [n.age]>{{n.lastName}}</td>
    <td appApphighlet [age] = [n.age]>{{n.age}}</td>
    <td appApphighlet [age] = [n.age]>{{n.gender}}</td>
    <td appApphighlet [age] = [n.age]>{{n.dob}}</td>
    <td appApphighlet [age] = [n.age]>{{n.phone}}</td>

    <td>
      <button (click)="update(n)"  (click)="SaveId(n)"  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-info">Edit</button>
      <button (click)="delete(n.patientId)" class="btn btn-danger mx-3">Delete</button>
      <button href="Update/" (click)="gotoUpdate(n.patientId)" class="btn btn-dark">Edit-2</button>
    </td>
  </tr>
</tbody>
</table>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">Patient Info</h1>
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
      <form [formGroup] = "formValue">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">FirstName</label>
          <input formControlName="firstName" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

        </div>

        <div class="mb-3">
          <label  class="form-label">LastName</label>
          <input formControlName="lastName" type="text" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Age</label>
          <input formControlName="age" type="text" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="mb-3">
          <label class="col-sm-4 form-label">Gender</label>
          <div class="col-sm-8">
              <input formControlName="gender" type="radio" name="gender" id="GenderMale" value="male" checked> Male
              <input formControlName="gender" type="radio" name="gender" id="GenderFemale" value="female"> Female
              <input formControlName="gender" type="radio" name="gender" id="GenderOther" value="others"> Others
          </div>
        </div>

        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Date Of Birth</label>
          <input formControlName="dob" type="text" placeholder="dd/mm/yyyy" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone</label>
          <input formControlName="phone" type="text" class="form-control" id="exampleInputPassword1">
        </div>





    </form>
    </div>
    <div class="modal-footer">
      <button type="button" id="cancle" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      <button type="button" *ngIf="showAdd" (click)="postPatient()" class="btn btn-primary">Add</button>
      <button type="button" *ngIf="showUpdate" (click)="updateBtn()" class="btn btn-primary">update</button>
    </div>
  </div>
</div>
</div>

</div>


