
<div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Delete Box</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         

            <div >
                <div style="width: 100%;">
                  
                  <div style="width: 50%; height: 100px; float: left; "> 
                     <label for="">FirstName</label>
                     <h5>{{firstName}}</h5>
                  </div>
                  
                  <div style="margin-left: 50%; height: 100px; "> 
                      <label for="">LastName</label>
                      <h5>{{lastName}}</h5>
                  </div>

                  <div>
                    <p>Hi {{firstName}} {{lastName}} Do you want to delete your account ?</p>
                  </div>
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button  style="margin-left: 2%;" type="button" (click)="childmethod()" class="btn btn-primary">Delete</button>
              </div>
          </div>


        </div>
        <div class="modal-footer">
        
        </div>
      </div>
    </div>
  </div>




